<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Modern Discord Test Suite" parallel="false">
    <test name="E2E Tests">
        <classes>
            <class name="org.example.loginTests" />
            <class name="org.example.ServerTests" />
            <class name="org.example.MessagingTests" />
            <class name="org.example.SocialTests" />
            <class name="org.example.UserSettingsTests" />
            <class name="org.example.PostAuthChromeTests" />
        </classes>
    </test>
</suite>
